<div class="col-sm-3">
    <div class="card" [class.completed]="task.completed" *ngIf="!task.deleted">
        <div class="note-block" (click)="statusToggle()">
            <div class="card-block">
                <p>{{ task.content }}</p>
            </div>
            <div class="card-footer">
                <span *ngIf="!task.completed"><i class="fa fa-times" aria-hidden="true"></i>Not Complete</span>
                <span *ngIf="task.completed"><i class="fa fa-check" aria-hidden="true"></i>Complete</span>
            </div>
        </div>
        <div class="deleteButtonContainer">
            <input type="button" id="deleteButton" class="deleteButton btn btn-primary" value="Delete Note" (click)="deleteNote()">
            <!--<input type="button" class="indexButton btn btn-primary" value="IndexOf" (click)="withinIndex()">-->
        </div>
    </div>
</div>