.card {
    border-radius: 0;
    cursor: pointer;
    box-shadow: 3px 3px 3px #888888;
}

.card:hover {
    opacity: 1.0;
}

.card,
.card-footer {
    background-color: #FFFFA5;
    border: none;
}
.card-footer {
    text-align: right;
}

.card.completed, .card.completed .card-footer {
    background-color: #EEE;
    color: #CCC;
    opacity: 0.5;
}

.card.completed:hover, .card.completed:hover .card-footer {
    opacity: 1.0;
    background-color: #FFFFA5;
    color: black;
}

.fa-times {
    color: #CC0000;
    padding-right: .5rem;
}

.fa-check {
    color: green;
    padding-right: .5rem;
    opacity: 1.0;
}

.deleteButtonContainer {
    text-align: center;
    border-top: solid thin #CCC;
}

#deleteButton {
    width: 100%;
    border-radius: 0;
}

.card.deleted {
    display: none;
}